/* .pst{
	position:absolute !important;
}
.pst-right{
	right:10px;	
}
搜索框样式
.navbar-form {
    margin: 0;
    padding: 8px 15px;
}
搜索下面输入框外列的样式
.input-control{	
	float:left;
}
.input-width{
	width: 33.3%;	
}
.input-width1{
	width: 16.6%;	
}
.input-width2{
	width: 20%;	
}
.input-width3{
	width: 50%;	
}
.input-width4{
	width: 100%;	
}
单选框样式
.mini-radiobuttonlist{
	margin-top: 7px;
}
.mini-radiobuttonlist-item{
	margin-left:10px;
	
}
.mini-radiobuttonlist-item label{
	float:right;
	margin-top:6px;
	position: absolute;
} */