body
{
    font-size:14px;
    line-height:1.4;    
}

/* button
==========================================*/
input[type="button"]{
	font-size: 14px;
}
.mini-button{
    font-size:14px;
    height: 16px;
	line-height: 16px;
}
.mini-button,
body .mini-button-pressed, 
body a:hover.mini-button-pressed,
body .mini-button-checked, 
body a:hover.mini-button-checked,
body a.mini-button-popup, 
body a:hover.mini-button-popup,
body a:hover.mini-button{
	padding: 7px 10px;
}
body .mini-pager a:hover.mini-button-plain{
	padding: 0 1px;	
}
.mini-button-text{   
    line-height:16px;
    height: 16px;
    padding: 0;
}
body a.mini-button-disabled, body a:hover.mini-button-disabled{
	padding: 7px 10px;
}
.mini-button-icon{
    left:8px;    
}
.mini-button .mini-button-icon{
	padding-left: 25px;
}
.link-button .mini-button-icon{
	padding-left: 0;
}
.mini-button .mini-button-icon-text{
    padding-left: 0;
}
.mini-button .mini-button-icon-only{
    padding-left: 0;
}
.mini-button .mini-button-icon-only .mini-button-icon
{    
    left:8px;    
}
.mini-button-iconRight .mini-button-icon-text
{
    padding-left:12px;
    padding-right:28px;
}
.mini-button-iconRight .mini-button-icon
{
    left:auto;
    right:8px;
}
.mini-button-iconTop .mini-button-icon-text
{
    padding-left:12px;
    padding-top:28px;
}
.mini-button-iconTop .mini-button-icon
{
    top:6px;
}
.mini-button-allow
{
    margin-top:7px;    
    left:-3px;    
}

/* textbox
==========================================*/
.mini-textbox-input
{
    height:28px;
    line-height:28px;
    font-size:14px;
}
.mini-textbox-border{height:34px;}
.mini-textbox{
    overflow:visible;
    height:34px;
    width:150px;
}
.mini-textbox.mini-error .mini-textbox-border{
	margin-right: 18px;
}
.mini-textbox.mini-invalid .mini-textbox-border{
	margin-right: 0;
}
.mini-textarea .mini-textbox-border
{
    padding-left:0px;
    padding-right:0px;
}
.mini-textarea .mini-textbox-input
{
    line-height:20px;
}

/* buttonedit
==========================================*/
.mini-buttonedit{
	margin-right: 20px;
}

.mini-buttonedit-input
{
    height:32px;
    line-height:32px;
    font-size:14px;
}
.mini-buttonedit-border
{
    height:28px;
    padding: 0 25px 0 6px;
}
.mini-buttonedit
{
    overflow:visible;
    height:34px;
    width:150px;
}
.mini-buttonedit-button{
    height:32px;
    width:22px;
    padding: 0;
    margin: 0;
}
.mini-spinner .mini-buttonedit-button{
	padding: 0;
}
.mini-buttonedit-focus .mini-buttonedit-button{
	padding: 0;
}
.mini-buttonedit-button .mini-buttonedit-icon{
	height: 30px;
}
.mini-popupedit .mini-buttonedit-icon{
	background-position: 3px 12px;
}
.mini-datepicker .mini-buttonedit-icon{
	background-position: center center;
}
.mini-buttonedit-focus .mini-buttonedit-button{
	margin-top: 0;
}
.mini-popupedit .mini-buttonedit-button{
	padding: 0;
}
.mini-buttonedit-close{
    height: 100%;
    padding: 0;
    margin: 0;
}
.mini-buttonedit-hover .mini-buttonedit-close{
	padding: 0;
	margin: 0;
}
.mini-buttonedit-buttons{
	top: 0;
	right: 0;
	bottom: 0;
}
.mini-buttonedit-hover .mini-buttonedit-button{
	margin-top: 0;
}

/* htmlfile
==========================================*/
.mini-htmlfile .mini-buttonedit-button{
    line-height:32px;
    height: 100%;
}

/* textboxlist
==========================================*/
.mini-textboxlist
{
    height:30px;
}
.mini-textboxlist ul{
    padding: 3px 0 0 5px;
}
.mini-textboxlist .mini-textboxlist-item{
    font-size:14px;
    height:28px;
    line-height: 28px;
    margin-bottom: 3px;
	padding: 0 22px 0 8px;
}
.mini-textboxlist .mini-textboxlist-item .mini-textboxlist-close{
	top: 10px;
}
.mini-textboxlist-close-hover{
	background-position: 0 center;
}
.mini-textboxlist .mini-errorIcon
{
    margin-top:4px;
}
.mini-textboxlist .mini-textboxlist-input
{
    height:18px;
    line-height:18px;
}

/* checkbox
==========================================*/
.mini-checkbox
{
    font-size:14px;
    line-height:26px;
}
.mini-checkbox-check,
.mini-checkbox-icon
{
    margin-right:10px;
}

/* checkboxlist & radiobuttonlist
==========================================*/
.mini-checkboxlist table label,
.mini-radiobuttonlist table label
{
    padding-left:8px;
    line-height:22px;
    font-size:14px;
}
/* listbox
==========================================*/
.mini-listbox td
{
    line-height:20px;
    font-size:14px;
    padding: 6px 8px 6px 8px;
}

/* grid
==========================================*/
.mini-checkcolumn .mini-grid-cell-inner{
	padding: 14px 0;
}
.mini-grid-cell-inner
{
    padding: 14px 0;
    font-size:14px;
}

.mini-grid-headerCell-inner
{
    padding:14px 0;
  
    font-size:14px;
}
.mini-grid-headerCell-outer
{
    padding-left:3px;
    padding-right:4px;
}
.mini-grid-columnproxy
{
    padding-top:4px;
    padding-bottom:6px;
}
.mini-grid-allowsort,
.mini-grid-sortIcon
{
    margin-left:4px;
}

/* treegrid & tree
==========================================*/
.mini-tree .mini-tree-icon{         
    top: -2px;
}
.mini-tree-nodeshow{
    padding: 0px;
}
.mini-tree-node-hover .mini-tree-nodeshow,
.mini-tree-selectedNode .mini-tree-nodeshow,
.mini-tree-nodeshow{
    padding: 0px;
}
.mini-tree-nodetext{
    padding: 0 0 0 6px;
}
.mini-tree-checkbox{
    margin-left:4px;
    margin-right:2px;
}
.mini-tree-node-ecicon{
	width: 0px;
}
.mini-tree-nodeshow,
.mini-tree-treeLine .mini-tree-expand .mini-tree-node-ecicon-first + .mini-tree-nodeshow{
	margin-top: 0px;
}
.mini-tree-node-ecicon, 
.mini-tree-indent,
.mini-tree-nodetitle,
.mini-tree .mini-tree-icon{
	height: 26px;
	line-height: 26px;
}
.mini-tree-indent + .mini-tree-indent {
	width: 31px;
	margin-left: 0px;
}
.mini-tree-treeLine .mini-tree-nodes-tr .mini-tree-nodes-tr .mini-grid-row .mini-tree-node-ecicon-last{
	margin-left: 0;
}
.mini-tree-indent{
	width: 34px;
}
.mini-tree-treeLine .mini-grid-row + .mini-tree-nodes-tr .mini-tree-collapse .mini-tree-node-ecicon,
.mini-tree-treeLine .mini-grid-row + .mini-tree-nodes-tr .mini-tree-expand .mini-tree-node-ecicon{
	margin-left: 0px;
}
.mini-tree-expand .mini-tree-folder, 
.mini-tree-folder,
.mini-tree-selectedNode .mini-tree-nodeshow,
.mini-tree-node-hover .mini-tree-nodeshow{
	padding: 0;
}
.mini-grid-cell-inner{
	font-size: 14px;
}
.mini-tree.nav-tree .mini-tree-folder{
	margin-left: 30px;
}

/* pager
==========================================*/
.mini-pager{
    height:30px;
    line-height:30px;
    padding:0 10px 0 8px;   
}
.mini-pager-size{
	height: 26px;
	margin-top: 2px;
}
.mini-pager .mini-buttonedit{
	height: 26px;
}
.mini-pager .mini-buttonedit-border{
	height: 26px;
}
.mini-pager .mini-buttonedit-buttons .mini-buttonedit-button{
	height: 24px;
	width: auto;
}
.mini-pager .mini-buttonedit-buttons .mini-buttonedit-icon{
	height: 24px;
	background-position: center center;
}
.mini-pager .mini-button{
	height: 26px;
	padding: 0 1px;
	margin-top: 1px;
}
.mini-pager .mini-pager-index{
	height: 27px;
	display: inline-block;
}
.mini-pager .mini-button-iconOnly{
	padding-top: 0;
	height: 24px;
}
body .mini-pager-num{
    height:24px;
    line-height:24px;
    padding: 0;
    width: 45px;
    margin: 0 5px;
}

.mini-pager-size .mini-combobox{
    width:60px;
}
.mini-labelpager >.mini-button{
	font-size: 12px;
}

/* toolbar
==========================================*/
.mini-toolbar
{
    padding:6px;  
}

/* tools
==========================================*/


/* panel
==========================================*/
.mini-panel-header{
	height: 50px;
	line-height: 50px;
}

.mini-panel-header-inner{
	font-size:16px;
}
.mini-panel .mini-panel-icon{
    margin-right:8px;
    margin-top: 18px;
}

.mini-panel-body{
    padding:0px;
}

.mini-menu-horizontal .mini-menuitem-allow{
	margin-top: 12px;
}

/* window
==========================================*/
.mini-window .mini-panel-title{
	font-size: 18px;
}

.mini-window .mini-panel-body >p{
	margin: 10px;
}
.mini-messagebox-content{
	padding: 2px;
}
.mini-messagebox-buttons{
	padding: 15px;
}
/* layout
==========================================*/
.mini-layout
{
    font-size:14px;
}
.mini-layout-region-header,
.mini-layout-proxy
{
    height:40px;
    line-height:40px;
}
.mini-layout-proxy
{
    width:40px;
}
.mini-layout-region-header .mini-tools{
	 height: 40px;
}
.mini-layout-region-header .mini-tools,
.mini-layout-proxy .mini-tools{
    top:0;
    right:0;
}
.mini-layout-proxy-text
{
    left:8px;
    font-size:14px;
}

/* outlookbar
==========================================*/
.mini-outlookbar
{        
    font-size:14px;
}
.mini-outlookbar-groupHeader
{
    line-height:20px;
    padding:10px 26px 10px 12px;
}
.mini-outlookbar-groupTitle
{
    padding-left:8px;
}
.mini-outlookbar-groupHeader .mini-tools{   
    top:0;
    right:0;    
}

/* menu
==========================================*/
.mini-menu
{  
    font-size:14px; 
}
.mini-menuitem-inner
{
    padding:4px 26px 4px 34px;   
}
.mini-menuitem-icon{
    left:10px;
    top:9px;
} 
.mini-menuitem-allow
{
    top:6px;
    right:6px;    
}
.mini-menu-horizontal .mini-menu-inner
{
    padding:6px;
}
.mini-menu-horizontal .mini-menuitem-inner
{
    padding:4px 10px 4px 10px;
}
.mini-menu-horizontal .mini-menuitem-icon{
    margin-right:4px;
    margin-top: 4px;
}

/* tabs
==========================================*/
.mini-tab
{
    padding-left:14px;
    padding-right:14px;
}
.mini-tab-text{
    font-size:14px;
    line-height:1.42857143;
    padding: 10px 15px;
    margin-right: 0;   
}
.mini-tab .mini-tab-icon{
	margin-left: 15px;
}
.mini-tabs-plain
{
    line-height:18px;
}
.mini-tab-close
{
    margin-top:8px;
}
.mini-tabs-tabmenu
{
    top:7px;
    right:4px;
    width:22px;
    height:22px;    
    margin-right:6px;
}
.mini-tabs-nav,
.mini-tabs-leftnav
{
    top:7px;
    padding-left: 8px;
    padding-right: 4px;
}
.mini-tabs-leftButton, .mini-tabs-rightButton
{    
    width:22px;
    height:22px;
    margin-right:6px;
}
.mini-tabs-buttons
{
    padding-top:6px;
}
/* calendar
==========================================*/
.mini-calendar,
.mini-calendar-title,
.mini-calendar-menu-month,
.mini-calendar-menu-year
{       
    font-size:14px;
}
.mini-calendar-header
{
    height:34px;
}
.mini-calendar-title
{
    top:4px;
}
.mini-calendar-prev,
.mini-calendar-next
{
    top:10px;
}
body .mini-calendar td.mini-calendar-date
{
    line-height:16px;
    padding:3px 8px;
}
body .mini-calendar .mini-calendar-daysheader td
{
    line-height:18px;
    padding:4px;
}
.mini-calendar-tadayButton, .mini-calendar-clearButton,
.mini-calendar-okButton, .mini-calendar-cancelButton
{
    line-height:16px;
    padding:6px;
    padding-left:0px;
    padding-right:0px;    
}
.mini-calendar-menu-year
{
    padding:2px 2px;
}

/* progressbar
==========================================*/
.mini-progressbar
{
    height:30px;   
}
.mini-progressbar-border
{    
    height:28px;    
    border-radius:4px;
}
.mini-progressbar-text
{
    line-height:28px;
    font-size:14px;
}

/* form
==========================================*/

.form-group{
	padding: 0;
}

/*2018-01-10*/
.mini-textboxlist li{
	height: 22px;
}
.mini-buttonedit-border{
	height: 34px;
}
.mini-radiobuttonlist input{
	width: 13px;
	height: 13px;
}

/*2018-1-11 page*/
.mini-grid-pager{
	height: 32px;
}
.mini-labelpager .mini-page-counter{
	font-size: 12px;
	line-height: 32px;
}
.mini-labelpager .mini-page-pagination{
	margin: 0 20px;
}
.mini-page-pagination a{
	padding: 0 12px;
	height: 30px;
	line-height: 30px;
}
.mini-page-pagination a i{
	line-height: 30px;
}
/*复选框*/
.mini-checkboxlist-item{
	margin-left: 10px;
}


.mini-navtoolbar .mini-button .mini-button-text{
	height: 20px;
	line-height: 20px;
}

.mini-fit{
    padding-top: 0;
}
.mini-errorIcon{
	height:14px;
	right: 0;
}
.mini-labelfield-label{
	width: 74px;
}
body .mini-labelfield{
	 margin-bottom:15px;
}

.mini-buttonedit-buttons{
	right:5px;
}
body .mini-tabs-plain .mini-tabs-scrollCt{
	margin-left: 15px;
}
.mini-tabs-bodys{
	padding:0;    
}
.mini-tab{
	padding: 0;
}
.mini-tree-indent{
	 width: 30px;
}
.mini-tree.nav-tree .mini-tree-nodetitle{
	height: 36px;
	line-height: 36px;
}
.mini-tree.nav-tree .mini-tree-nodetext{
	height: 36px;
	line-height: 36px;
	+line-height: 37px;
	padding-left: 6px;
}
.mini-tree-node-ecicon{
	width: 30px;
}
.mini-textboxlist-close{
	top: 10px;
}


/* 窗口 */
.mini-panel .mini-tools{
	width: auto;
}
.mini-panel .mini-tools span{
	width: 30px;
	height: 100%;
}
.mini-layout-proxy-east span.mini-tools-collapse,
.mini-layout-proxy-west span.mini-tools-collapse{
	height: 40px;
	width: 46px;
	margin-right: 0;
}
.mini-tools span{
	height: 42px;
	width: 30px;
}
.mini-tools .mini-tools-collapse{
	width: 30px;
}
.mini-layout-proxy-north .mini-tools-collapse{
	width: 30px;
}
.mini-layout-proxy-west .mini-tools-collapse{
	height: 30px;
}

/* nav */
.mini-navtoolbar{
	height: 50px;
	padding: 0 15px 0 11px;
}

.mini-navtoolbar .navbar-header{
	height: 20px;
	line-height: 20px;
	margin-top: 15px;
}

.mini-doublecalendar {
	padding: 8px;
}
.mini-doublecalendar .north {
	padding-left: 16px;
	padding-right: 16px;
}
.mini-doublecalendar .north .mini-button{
	margin-left: 5px;
}
.mini-doublecalendar .mini-textbox {
	width: 105px;
}
body .mini-button-plain{
	padding: 7px 10px;
}
/**按钮菜单
**********************/
.mini-button-menu{
	margin-top: 0;
	left: 0;
	background-position: 6px center;
}

.mini-error .mini-buttonedit-border{
	margin-right: 0px;
}

.mini-datepicker .mini-buttonedit-icon{
	height: 100%;
	top: 0;
	right: 5px;
}
.mini-menu-horizontal .mini-separator{
	margin-top: 12px;
}
.mini-layout-region-icon{
	margin-top: 13px;
}
