input{ vertical-align:middle;}
input[type=text],select,input[type=password]{
	height:24px;
	padding:0 3px;
	border:1px solid #ccc;
	border-radius:5px;
	color:#333;
	line-height:24px;
}
select{height:26px; padding:3px; font-family:微软雅黑;}
input[type=text],textarea,input[type=password]
{
	transition: border-color 0.5s,background-color 0.5s;
	-moz-transition: border-color 0.5s,background-color 0.5s;	/* Firefox 4 */
	-webkit-transition: border-color 0.5s,background-color 0.5s;	/* Safari 和 Chrome */
	-o-transition: border-color 0.5s,background-color 0.5s;	/* Opera */
}
input[type=text]:focus,textarea:focus,input[type=password]:focus{
	background-color:#fffbf7;
	border-color:#f60;
}
textarea {
	padding:3px;
	border:1px solid #ccc;
	border-radius:5px;
	color:#333;
	line-height:14px;
}
input.ui-input-mustInput,
.ui-txtarea-mustTextArea {
	border-left:3px solid #f60;
}
input[type=text] + i{ margin-left:-30px;}