*{
	box-sizing : border-box;
	margin : 0px;
	padding : 0px;
}

html,body{
	width : 100%;
}
a{
	color:#555;
	text-decoration:none;
}
.header{
    margin-bottom:10px;
    height:50px;
    width:100%;
    margin-top:20px;
    padding:0 20px;
  }
  .address{
    float:left;
  }
  .address ul li{
    float:left;
    list-style:none;
  }
  .table{
    padding-top:50px;
  }
  .address{
    width:70px;
    height:28px;
  }
  
  .address ul li:first-child{
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
   /* background:#3BAFDA;*/
    background:#FDE9D9;
  }
  .address ul li:last-child{
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
    background:#DAEEF3;
   /* background:#8CC152;*/
  }
  .address ul li:nth-child(2){
    background:#EBF1DE;
    /*background:#37BC9B;*/
  }
  .address ul li:nth-child(3){
    background:#FFFFCC;
     /*background:#F4D03F;*/
  }
  .address ul li:nth-child(4){
    background:#B0C4DE;
    /* background:#3BAFDA;*/
  }
  .address ul li:nth-child(5){
    background:#E6E6FA;
     /*background:#967ADC;*/
  }
  .address ul li:not(:first-child){
    border-left:1px solid #d2d2d2;
  }
  .address ul li{
   border:0px;
   background:#f5f5f5;
   height:30px;
   line-height:30px;
   width:70px;
   text-align:center;
  }
  .address ul{
    width:422px;
    height:30px;
    border:1px solid #d2d2d2;
    padding-left:0;
    border-radius:4px;
    box-shadow:1px 3px 1px rgba(0,0,0,.4);
  }
  .finish,.go,.ready{
    width:120px;
    height:20px;
    border-radius:4px;
    text-align:center;
    float:left;
    margin:10px 40px 0px 0px;
    color:#fff;
    font-size:14px;
  }
  .finish{
    background:rgba(230, 126, 35, 0.7);
  }
  .go{
    background:rgba(42, 144, 170, 0.7);
  }
  .ready{
    background:rgba(136, 172, 63, 0.7);
  }
  .length{
    float:right;
  }
  .fc-toolbar.fc-header-toolbar{
  	/* margin-left:20px; */
  }
  .time{
  	display:none;
  	width:200px;
  	height:100px;
  	z-index:17;
    color:#555;
  }
  ul{
  	list-style:none;
  }
  .clear{
    clear:both;
  }
  .circle{
  	width:250px;
  	height:220px;
  	z-index:12;
  	margin-top:-50px;
    opacity:0;
    -webkit-transform-origin:50% 50%;
    -moz-transform-origin:50% 50%;
    transform-origin:50% 50%;
    -webkit-transform:scale(0.1) rotate(-270deg);
    -moz-transform:scale(0.1) rotate(-270deg);
    -transform:scale(0.1) rotate(-270deg);
    -webkit-transition:all 0.4s ease-out;
    -moz-transition:all 0.4s ease-out;
    transition:all 0.4s ease-out;
    /*position:absolute;
    top:0;
    left:0;*/
  }
  .circle ul li{
  	width:80px;
  	height:80px;
  	border-radius:40px;
  	float:left;
  	text-align:center;
  	line-height:80px;
  	margin:17px 22px;
  	box-shadow:#ccc 0 2px 0;
  }
  .circle ul li a{
    color:#fff;
  }
  .circle ul li:first-child{
  	background:#9B59B6 ;
  }
  .circle ul li:nth-child(2){
  	background:#4D8FAC;
  }
  .circle ul li:nth-child(3){
  	background:#4B77BE;
  }
  .circle ul li:nth-child(4){
    background:#003171;
  }
  .circle ul li:hover{
  	cursor:pointer;
  }
  .open{
    opacity:1;
    -webkit-transform:scale(1) rotate(0);
    -moz-transform:scale(1) rotate(0);
    -transform:scale(1) rotate(0);
  }
  .fc .fc-button-group > :first-child{
    background:#19B5FE;
    color:#fff;
  }
  .fc .fc-button-group > :nth-child(2){
    background:#19B5FE;
    color:#fff;
  }
  .fc .fc-button-group > :nth-child(3){
    background:#19B5FE;
    color:#fff;
  }
  .fc-timeline-event .fc-content{
    text-align:center;
  }
  a:hover{
    text-decoration: none!important;
  }
  .fc-time{
    display:none;
  }
  .fc-timeline-event:hover{
    cursor:pointer;
  }

  .add{
    opacity:0;
    -webkit-transform-origin:50% 50%;
    -moz-transform-origin:50% 50%;
    transform-origin:50% 50%;
    -webkit-transform:scale(0.1) rotate(-270deg);
    -moz-transform:scale(0.1) rotate(-270deg);
    -transform:scale(0.1) rotate(-270deg);
    -webkit-transition:all 0.4s ease-out;
    -moz-transition:all 0.4s ease-out;
    transition:all 0.4s ease-out;
  }
  