.logo{ width:436px; height:50px; background:url(../images/logo.gif) no-repeat;}
.user_info{ color:#0069ac;}

/**在线支持 Begin**/
.contact_box{background:#f2faff;}
.contact_box h1{ display:block; height:50px; background: url(../images/online_sevice.gif) no-repeat center center;}
.contact_box dl{ background:#4fa8e3; color:#fff;}

/**链接 Begin**/
a{color:#0069ac; text-decoration:none; font-family:Arial;}
a:visite{color:0069ac;}
a:hover{color:#ff6600; text-decoration:underline;}
a:active{color:#0069ac;}
/**链接 End**/

/**背景颜色 Begin***皮肤可变*/
.tr_bg_edf8ff{ background:#fff;}
.tr_bg_dff2ff{ background:#edf8ff;}
.tr_bg_fefce9{background:#fffddf;}
.bg_white{background:white;}
.bg_gray{ background:#f3f3f3;}
/**背景颜色 End**/

.login_main{background:url(../images/login_banner.gif) no-repeat center;}
.login_window .login_window_title{background:url(../images/titel_bg.gif) repeat-x;}
.login_window .login_window_title h2{background:#fff url(../images/icon_user.gif) no-repeat 5px center;}

.boder_0_1_1_1{ border:1px solid #D2E6EE; border-top:0;}

/**文字颜色 Begin**/
.font_red{ color:red;}
.font_gray{color:#999;}
.font_orange{color:#ff6600;}
.font_green{ color:green;}
/**文字颜色 End**/

/**Header Begin**/
.header_nav{ background:url(../images/header_nav_bg.gif) no-repeat left;}
/**Header End**/

.top_menu{ padding:0 5px; height:30px; background:url(../images/top_menu_bg.gif) repeat; line-height:30px;}
.top_menu dt{display:inline; float:left; margin:0 3px 0 0; text-align:center; }
.top_menu dt a{ display:block; background:url(../images/top_menu_nomal_bg_right.gif) no-repeat right; color:#0069ac;}
.top_menu dt a span{ display:block; background:url(../images/top_menu_nomal_bg_left.gif) no-repeat left; padding:0 20px;}
.top_menu dt a:hover{ display:block; background:url(../images/top_menu_hover_bg_right.gif) no-repeat right; color:#7c4306;}
.top_menu dt a:hover span{ display:block; background:url(../images/top_menu_hover_bg_left.gif) no-repeat left; padding:0 20px;}

/**********************TAB选项卡******************/
.tab{ background:url(../images/tab_bg.jpg) repeat-x;}
a.tab_select{ background:url(../images/tab_select_right.jpg) no-repeat right;}
a.tab_select span{ background:url(../images/tab_select_left.jpg) no-repeat left; color:#FF6600;}
a.tab_nomal{ background:url(../images/tab_nomal_right.jpg) no-repeat right;}
a.tab_nomal span{ background:url(../images/tab_nomal_left.jpg) no-repeat left;}
/**TAB选项卡**END**/


/**Main样式表 Begin**/
.body_bg{ background:#0069ac;}
.main_body_bg{background:#fff;}
.wrapper td,th{}



/**当前位置 Begin**/
.current_location{border-bottom:1px solid #B1E2F8; background:#DAEFFC url(../images/icon_location.gif) no-repeat 5px center;}
/**当前位置 END**/

/**表单控件 Begin**/
.title{background:url(../images/titel_bg.gif) repeat-x;}/**表单标题**皮肤可变**/
.must_input{margin-left:5px; padding:4px; background:url(../images/icon_mustinput.gif) no-repeat center; color:#F00;}/**必填、必选提示**/
.nomal_input{margin-left:5px; padding:0 3px; color:transparent;}/**默认状态提示**/
.input_txt_must{ background:#fefce9;}/**必填 输入框**/
.input_txt_disabled{ background:#f3f3f3;}/**不可输入 输入框**/
.input_txt_true{background:#eeffd2; border:1px solid #9fd868;}
.input_txt_false{background:#fff1f1; border:1px solid #ff9898;}
.input_txt{ border:1px solid #bcbcbc;}/**默认 输入框**/
.textarea_style{border:1px solid #bcbcbc;}
.textarea_style_must{border:1px solid #bcbcbc;  background:#fefce9;}
/**表单控件 END**/

/**浮动窗口 Begin**/
.float_layer{background:#edf8ff; border:1px solid #D2E6EE;}
.float_layer_title{ background:url(../images/titel_bg.gif) repeat-x; border-bottom:1px solid #D2E6EE;}
/**浮动窗口 END**/

/****注释模块****/
.note_container_yellow{background:#fefce9; border:1px solid #ffb22d; color:#a55e1e;}
.note_container_yellow span{border-left:1px solid #ffb22d; border-bottom:1px solid #ffb22d;}
.note_container_green{background:#eeffd2; border:1px solid #9fd868; color:#519d00;}
.note_container_green span{border-left:1px solid #9fd868; border-bottom:1px solid #9fd868;}
.note_container_red{background:#fff1f1; border:1px solid #ff9898; color:#ff0000;}
.note_container_red span{border-left:1px solid #ff9898; border-bottom:1px solid #ff9898;}
.note_container_gray{background:#f3f3f3; border:1px solid #d9d9d9; color:#666;}
.note_container_gray span{border-left:1px solid #ddd; border-bottom:1px solid #ddd;}
.note_container_blue{background:#edf8ff; border:1px solid #D2E6EE; color:#0069ac;}
.note_container_blue span{border-left:1px solid #D2E6EE; border-bottom:1px solid #D2E6EE;}
.btn_hidden,.btn_view{background:#D2E6EE; border-left:1px solid #D2E6EE; border-bottom:1px solid #D2E6EE; color:#0069ac;}
/****注释模块****/

.error_container{ background:#edf8ff url(../images/error_img.gif) no-repeat 30px center; border:1px solid #D2E6EE;}/*错误页面*/

/************输入表单 Begin************/
.form_input{border-top:1px solid #D2E6EE; border-left:1px solid #D2E6EE; border-right:1px solid #D2E6EE; }
.form_input th{ text-align:right;}
.form_input thead td{border-bottom:1px solid #D2E6EE;}
.form_input tbody td{ border-bottom:1px solid #D2E6EE;}
.form_input tbody th{border-bottom:1px solid #D2E6EE; background:#edf8ff;}
.form_input tfoot td{ border-bottom:1px solid #ccc; border-top:1px solid #fff;}
.form_input .postion_r span{background:#D2E6EE;}
/************橙色输入表单 Begin************/
.form_input_orange{border-top:1px solid #f4e7d1; border-left:1px solid #f4e7d1; border-right:1px solid #f4e7d1; }
.form_input_orange th{ text-align:right;}
.form_input_orange thead{ background:#FFFCF7;}
.form_input_orange thead h3{ color:#F60;}
.form_input_orange thead td{border-bottom:1px solid #f4e7d1;}
.form_input_orange tbody td{ border-bottom:1px solid #f4e7d1;}
.form_input_orange tbody th{border-bottom:1px solid #f4e7d1; background:#FFFCF7;}
.form_input_orange tfoot td{ border-bottom:1px solid #f4e7d1; border-top:1px solid #fff;}
.form_input_orange .postion_r span{background:#f4e7d1;}
/************数据列表 Begin************/
.form_datalist{border-top:1px solid #D2E6EE; border-left:1px solid #D2E6EE; border-right:1px solid #D2E6EE;}
.form_datalist td{border-bottom:1px solid #D2E6EE; }
.form_datalist th{border-bottom:1px solid #D2E6EE; }
/************详细信息 Begin************/
.form_info{border-top:1px solid #D2E6EE; border-left:1px solid #D2E6EE; border-right:1px solid #D2E6EE;}
.form_info tbody td{  border-bottom:1px solid #D2E6EE; color:#666;}
.form_info tbody th{border-bottom:1px solid #D2E6EE; border-right:1px solid #D2E6EE; background:#edf8ff;}
.form_info tfoot td{ border-bottom:1px solid #D2E6EE;}

/************功能按钮区 Begin************/
.function_box{border-bottom:1px solid #ccc;   border-right:1px solid #ccc; border-left:1px solid #ccc;}
.function_box td{border-top:1px solid #fff;}
/************功能按钮区 End************/

/************Button样式表 Begin************/
.btn_nomal{width:62px; background:url(../images/btn_empty.gif) no-repeat;}/**无图标按钮**/
.btn_nomal_hover{width:62px; background:url(../images/btn_empty_a.gif) no-repeat; }/**无图标按钮 鼠标经过**/

.btn_add{padding-left:18px; width:62px; background:url(../images/btn_add.gif) no-repeat; }/**增加 按钮**/
.btn_add_hover{padding-left:18px; width:62px; background:url(../images/btn_add_a.gif) no-repeat; }/**增加 按钮 鼠标经过**/

.btn_delete{padding-left:18px; width:62px; background:url(../images/btn_delete.gif) no-repeat; }/**删除 按钮**/
.btn_delete_hover{padding-left:18px; width:62px; background:url(../images/btn_delete_a.gif) no-repeat; }

.btn_import{padding-left:18px; width:62px; background:url(../images/btn_import.gif) no-repeat; }/**导出 按钮**/
.btn_import_hover{padding-left:18px; width:62px; background:url(../images/btn_import_a.gif) no-repeat; }

.btn_search{padding-left:18px; width:62px; background:url(../images/btn_search_orange.gif) no-repeat; }/**搜索、查询 按钮**/
.btn_search_hover{padding-left:18px; width:62px; background:url(../images/btn_search_a.gif) no-repeat; }

.btn_supersearch{padding-left:18px; width:90px; background:url(../images/btn_supersearch.gif) no-repeat; }/**高级搜索、查询 按钮**/
.btn_supersearch_hover{padding-left:18px; width:90px; background:url(../images/btn_supersearch_a.gif) no-repeat; }

.btn_confirm{padding-left:18px; width:62px; background:url(../images/btn_confirm_orange.gif) no-repeat; }/**确定 按钮**/
.btn_confirm_hover{padding-left:18px; width:62px; background:url(../images/btn_confirm_a.gif) no-repeat; }

.btn_cancel{padding-left:18px; width:62px; background:url(../images/btn_cancel.gif) no-repeat; }/**取消 按钮**/
.btn_cancel_hover{padding-left:18px; width:62px; background:url(../images/btn_cancel_a.gif) no-repeat; }

.btn_save{padding-left:18px; width:62px; background:url(../images/btn_save.gif) no-repeat; }/**保存 按钮**/
.btn_save_orange{padding-left:18px; width:62px; background:url(../images/btn_save_orange.gif) no-repeat; }
.btn_save_hover{padding-left:18px; width:62px; background:url(../images/btn_save_a.gif) no-repeat; }

.btn_email{padding-left:18px; width:100px; background:url(../images/btn_email_orange.gif) no-repeat; }/**发送电邮 按钮**/
.btn_email_hover{padding-left:18px; width:100px; background:url(../images/btn_email_a.gif) no-repeat; }

.btn_back{padding-left:18px; width:62px; background:url(../images/btn_back.gif) no-repeat; }/**返回 按钮**/
.btn_back_hover{padding-left:18px; width:62px; background:url(../images/btn_back_a.gif) no-repeat; }
.btn_back_90{padding-left:18px; width:90px; background:url(../images/btn_back_a_90.gif) no-repeat; }/**返回 按钮**/
.btn_back_hover_90{padding-left:18px; width:90px; background:url(../images/btn_back_90.gif) no-repeat; }

.btn_big{ width:144px; background:url(../images/btn_big.gif) no-repeat;}/**特殊按钮**/
.btn_big_hover{ width:144px; background:url(../images/btn_big_a.gif) no-repeat; }

.btn_login{ background:url(../images/leftmenuselected.gif) repeat-x left center; border:1px solid #dbce59;}/**登录按钮**/
.btn_login_hover{ background:url(../images/titel_bg.gif) repeat-x left center; border:1px solid #c2ddf0;}

.btn_submit{padding-left:18px; width:62px; background:url(../images/btn_submit.gif) repeat-x left center; }/**提交**/
.btn_submit_orange{padding-left:18px; width:62px; background:url(../images/btn_submit_orange.gif) repeat-x left center; }
.btn_submit_hover{padding-left:18px; width:62px; background:url(../images/btn_submit_a.gif) repeat-x left center; }

.btn_up{padding-left:18px; width:62px; background:url(../images/btn_up.gif) repeat-x left center; }/**上传**/
.btn_up_hover{padding-left:18px; width:62px; background:url(../images/btn_up_a.gif) repeat-x left center; }

.btn_next{padding-left:18px; width:62px; background:url(../images/btn_next.gif) repeat-x left center; }/**下一步**/
.btn_next_hover{padding-left:18px; width:62px; background:url(../images/btn_next_a.gif) repeat-x left center; }

.btn_prv{padding-left:18px; width:62px; background:url(../images/btn_prv.gif) repeat-x left center; }/**上一步**/
.btn_prv_hover{padding-left:18px; width:62px; background:url(../images/btn_prv_a.gif) repeat-x left center; }

.btn_process{padding-left:18px; width:100px; background:url(../images/btn_process.gif) no-repeat; }/**查看流程图**/
.btn_process_orange{padding-left:18px; width:100px; background:url(../images/btn_process_orange.gif) no-repeat; }
.btn_process_hover{padding-left:18px; width:100px; background:url(../images/btn_process_a.gif) no-repeat; }

/************Button样式表 End************/

/**********图标 begin**********/
.theme1{ background:#F90;}
.theme2{ background:#06C;}
.theme3{ background:#91dc0f;}
.theme4{ background:#bae2ff;}
.sys_help{ background:url(../images/icon_help.gif) no-repeat 5px center; }
.safe_exit{background:url(../images/icon_exit.gif) no-repeat 5px center; }
.choose_user{background:url(../images/icon_user.gif) no-repeat 5px center; }
.choose_theme{background:url(../images/icon_theme.gif) no-repeat 5px center;}
.choose_theme_hover{background:#fefce9 url(../images/icon_theme.gif) no-repeat 5px center;}



.process_box{ background:#bfe4ff; color:#0492df;}
.process_box th{ background:url(../images/bg_next.gif) no-repeat;}
.process_box span{background:#fff; color:#0492df;}